@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html5>
    <body background="http://www.solofondos.com/wp-content/uploads/2015/11/fondo.jpg">
        <DIV ALIGN=center>

            <h1 style="color:white">Bienvenidos</h1>
            <h2 style="font-family:optima;color:white"> a la web de facturacion electronica</h2>
            <img src="~/Factura.png">
        </DIV>
    </body>

</html5>


